<html>
    <title>Requirements & Procedure - ABC Embassy</title>
    <link rel="stylesheet" href="static/css/styles.css">
</head>

<body bgcolor="#6CA3E7">
    
    {% if token == 'loggedout' %}
        <nav>
            <ul>
                <li>
                    <h2 class="logo">ABC Passport Application Services</h2>
                </li>
                <li><a href="{{ url_for('home') }}">Home</a></li>
                <li><a href="{{ url_for('home') }}">About & Documentation</a></li>
                <li><a href="{{ url_for('procedures') }}">Process</a></li>
                <div class="dropdown">
                    <button class="dropbtn">Sign In ▼
                        <i></i>
                    </button>
                    <div class="dropdown-content">
                        <a href="{{ url_for('userlogin') }}">User Login</a>
                        <a href="{{ url_for('adminlogin') }}">Admin Login</a>
                        <a href="{{ url_for('signup') }}">No Account? Sign Up</a>

                    </div>
                </div>
            </ul>
        </nav>

        {% elif token != 'loggedout' %}
            <nav>
                <ul>
                    <li>
                      <h2 class="logo">ABC Passport Application Services</h2>
                    </li>
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('home') }}">About & Documentation</a></li>
                    <li><a href="{{ url_for('procedures') }}">Process</a></li>
                    <li><a href="{{ url_for('logout') }}">Sign Out</a></li>
                
                </ul>
            </nav>

        {% endif %}

    <br><br><br<br>
    <marquee scrollamount=10>
        <p class="marqueetext"> Welcome to the ABC Embassy's Passport application page. Some services may not
            function due to COVID-19 circumstances, we thank you for understanding. </p>
    </marquee>

    <h2 class="headings">About & Documentation</h2>
    <h2 class="headings">Passport Application Webpage Project Using Python, HTML, CSS, and MySQL for CBSE Grade 12 </h2>
    <h2 class="headings">Detailed Documentation and Overview on GitHub: https://github.com/RS-Roshan/G12-Proj-Passport-Application-Webpage </h2>

    <br> <br> <br>

    

    
    <br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
   
    <footer>
        <p class="footer">Done by Roshan Raj Saravanan, Class 12-A(M), GR No. 5799</p>
    </footer>

</body>

</html>